# Dipendenze Node.js
node_modules/

# Cartella di build dist/ 

# File di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directory di sistema
.DS_Store

# Configurazioni di editor comuni
.vscode/
.idea/

# File di ambiente (se li usi)
.env

#Local Netlify folder
.netlify